.slideSection {
  position: relative;
}
.slideSection:hover .content {
  opacity: 1;
}
.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 230px;
  height: 345px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}
.title {
  color: #fff;
  text-align: center;
  font-family: "S-CoreDream-4Regular";
  font-size: 24px;
  cursor: pointer;
}
.year {
  color: #fff;
  font-family: "S-CoreDream-3Light";
  text-align: center;
  cursor: pointer;
}
